<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="framework" class="com.demo.rpc.framework.RpcFramework">
		<property name="port" value="10086"></property>
	</bean>

	<!-- 需要发布的接口 -->
	<bean id="helloService" class="com.demo.rpc.service.HelloServiceImpl" />

	<!-- 发布服务 -->
	<bean id="helloService_server" class="com.demo.rpc.provider.RpcProvider" init-method="export">
		<property name="framework" ref="framework"></property>
		<property name="services">
			<list>
				<ref bean="helloService"/>
			</list>
		</property>
	</bean>
</beans>
