<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="framework" class="com.demo.rpc.framework.RpcFramework">
		<property name="port" value="10086"></property>
	</bean>

	<bean id="consumer_master" class="com.demo.rpc.consumer.RpcConsumerImpl">
		<property name="framework" ref="framework"></property>
		<property name="host" value="主ip"></property>
	</bean>
	
	<bean id="consumer_slave_1" class="com.demo.rpc.consumer.RpcConsumerImpl">
		<property name="framework" ref="framework"></property>
		<property name="host" value="从ip1"></property>
	</bean>
	
	<bean id="consumer_slave_2" class="com.demo.rpc.consumer.RpcConsumerImpl">
		<property name="framework" ref="framework"></property>
		<property name="host" value="从ip2"></property>
	</bean>
	
	<bean id="rfb" class="com.demo.rpc.framework.RpcProxyFactoy" factory-method="getRpcServerProxy">
		<constructor-arg>
			<map>
				<entry key="1" value-ref="consumer_master" />
				<entry key="2" value-ref="consumer_slave_1" />
				<entry key="2" value-ref="consumer_slave_2" />
			</map>
        </constructor-arg>
	</bean>
	
</beans>
